{
  "extends": [
    "stylelint-prettier/recommended",
    "stylelint-config-recess-order"
  ],
  "ignoreFiles": [
    "**/*.svg",
    "**/*.xml",
    "**/*.flow",
    "**/*.js",
    "**/*.jsx"
  ]
}
