.a__overlay {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.45);
}

.app__modal {
  overflow: auto;
  background-color: #fff;
  outline: none;

  .w__close {
    position: relative;
    cursor: pointer;
    outline: none;

    img {
      width: 18px;
    }
  }

  .b__body {
    width: 100%;

    @include mq_down() {
      padding: {
        right: 10px;
        left: 10px;
      }
    }
  }

  &.xs {
    width: 40vw;
    padding: {
      right: 45px;
      left: 45px;
    }

    .w__close {
      top: 15px;
      left: -30px;
    }
  }

  &.sm {
    width: 50vw;
    padding: {
      right: 65px;
      left: 65px;
    }

    .w__close {
      top: 15px;
      left: -50px;
    }
  }

  &.md {
    width: 60vw;
    padding: {
      right: 70px;
      left: 70px;
    }

    .w__close {
      top: 17px;
      left: -50px;
    }
  }

  &.lg {
    width: 75vw;
    padding: {
      right: 70px;
      left: 70px;
    }

    .w__close {
      top: 18px;
      left: -51px;
    }
  }

  &.xl {
    width: 95vw;
    padding: {
      right: 80px;
      left: 80px;
    }

    .w__close {
      top: 20px;
      left: -57px;
    }
  }

  @include mq_down() {
    &.xs,
    &.sm,
    &.md,
    &.lg,
    &.xl {
      width: 95vw;
      padding: {
        top: 5px;
        right: 24px;
        left: 24px;
      }

      .w__close {
        top: 10px;
        left: -9px;
      }
    }

    &.full {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100vw;
      background-color: white;
    }
  }
}
